version: '3.7'
services:
  postgres:
    image: redis:6.2.6
    hostname: redis
    container_name: redis
    volumes:
      - /srv/crowdlabel/redis_data:/data
    ports:
      - "6379:6379"
    command: redis-server --save 5 1 --loglevel debug
    restart: always

